books { 
	color: white; 
	background-color : gray; 
	width: 100%; 
} 
heading { 
	color: green; 
	font-size : 40px; 
	background-color : powderblue; 
} 
heading, title, author, publisher, edition, price { 
	display : block; 
	color: black;
} 
title { 
	font-size : 25px; 
	font-weight : bold; 
} 
title:before {
  content: "Title: ";
  }
author:before {
  content: "Author: ";
  }
publisher:before{
	content:"Publisher: ";
}
edition:before{
	content:"Edition: ";
}
price:before{
	content:"Price: ";
}
